body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    background-color: rgb(255, 251, 251);
}

  #image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;  
  }

  #img-caption{
    margin: 15px 0 5px 0;
  }

  #tribute-info-ul{
    text-align: left;
  }
  #title{
    font-size: 5rem;
    margin: 50px 0;
    color: #164770;
  }

  #headline{
    margin: 50px 0;
    text-align: center;
  }

  #tribute-link{
    color: #477ca7;
    text-decoration: none;
  }

  #tribute-link:hover{
    color: #28415b;
    text-decoration: underline;
  }
  #sub-title{
    color: #4983b3;
    font-weight: bold;
  }